.teacherPageBox {
  display: flex;
}

.teacherPageBox1 {
  width: 85vw;
  height: 100vh;
}

.teacherPageBox2 {
  width: 15vw;
  height: 100vh;
}

.noteVideoContainer {
  display: flex;
}

.lectureNote {
  background-color: black;
  width: 80vw;
  height: 90vh;
}

.studentVideo {
  background-color: magenta;
  width: 20vw;
  height: 90vh;
}

.footer {
  width: 83vw;
  height: 100%;
  background-color: aquamarine;
}
