html,
body {
  overflow: hidden;
  height: 100%;
}

main {
  height: 90vh;
}

.local-video {
  display: inline-block;
  margin: 0;
  border-radius: 10px;
}

/* .localVideoContainer {
} */

.screen-sharing {
  background-color: black;
  /* width: 50em; */
  /* height: 40em; */
  /* width: 70%; */
  height: 100%;
  flex-grow: 1;
}

.videos-container {
  margin: 0;
  height: 100%;
  /* overflow-y: auto; */
}

.meetingroom-div {
  display: flex;
  flex-direction: row;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100%;
  background-color: black;
}

.professor-video-container {
  width: 100%;
  margin: 0;
}

.professor-video {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.info {
  margin: 0;
  width: 15em;
  height: 100vh;

  background-color: bisque;
}

.timeline {
  height: 4.6em;
  background-color: aqua;
}

.learning-activity {
  width: 100%;
  height: 20%;
  background-color: aquamarine;
}

.alarm {
  width: 100%;
  height: 15%;
  background-color: blueviolet;
}

.chat-container {
  width: 100%;
  height: 65%;
  background-color: white;
  border-radius: 10px;
}
